@CHARSET "UTF-8";

#header {
	text-align: center; 
}

.paramCaption {
	text-align: right;
	font-weight: bold;
}

.paramValue {
	text-align: left;
	font-weight: normal;
}

.paramValue input {
	width: 100%;
	text-align: right;
}

td input {
	width: 100%;
	text-align: right;
}

th {
	text-align: center;
}